

body{
    background: linear-gradient(120deg, #1b4332, #52b788);
    background-repeat: no-repeat;

    min-height: 100vh;
    
    
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.mainbody{
    height: 300vh;
}
.navbar{
    background: linear-gradient(100deg, #1b4332, #52b788);
    height: 4rem; 
    width: 100vw;
    position:absolute;
    top: -2.5%;
    right: 0%;
    display: flex;
    justify-content: right;
    align-content: baseline;
    z-index: 10;
}

.phototitle{
    position: absolute;
    left: 5%;
    top: -2.5rem;
    color: #d8f3dc;
    font-size: 3em;
}
.navbar > a li{
    margin-right: 2rem;
    margin-top: 1rem;
    list-style-type: none;
    transition-duration: 0.4s;
}

.navbar > a li:hover{
    color: #1b4332;
    /* background: radial-gradient(#b7e4c7, #52b788); */
    /* border: solid #1b4332 0.1rem; */
    /* padding: 0.5rem; */
    transition-duration: 0.4s;
    /* transform: scale(100%); */
}
.navbar > a:visited{
    color: #d8f3dc;
    text-decoration: none;
}
.navbar > a:link{
    color: #d8f3dc;
    text-decoration: none;
}

.photonotes{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style-type: none;
    text-align: center;
    color: #d8f3dc;
    padding: 1rem;
    padding-top: 0rem;
    font-size: 2em;
    
    height: 15rem;
    /* border: red solid 3px; */
}
p{
    font-size: 0.5em;
}
.photonotes > li:hover{
    color: #ffae00;
    background: radial-gradient(#b7e4c7, #52b788);
    border: solid #1b4332 0.1rem;
    padding: 0rem;
    transition-duration: 0.4s;
    transform: scale(100%);
    
}
.photonotes > li a:visited{
    color: #d8f3dc;
    text-decoration: none;
}
.photonotes > li a:link{
    color: #d8f3dc;
    text-decoration: none;
}

.photocontainer{
  
    list-style-type: none;
    text-align: center;

}


.container {
    display: flex;
    justify-content: center; 
}
  

#imageContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); 
    gap: 20px;
    margin-top: 3rem;
}
  

img {
    display: block; 
    margin: auto; 
    border: solid #d8f3dc 0.8rem;
    
}
  
@media screen and (min-width: 300px) and (max-width: 880px) {
    .mainbody{
        min-width: 300px;
        max-width: 880px;
    }
    .navbar > a li{
        margin-right: 2rem;
        margin-top: 5rem;
        list-style-type: none;
        transition-duration: 0.4s;
    }
    #imageContainer{
        margin-top: 20rem;
    }
}