<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Other Music Projects</title>
    <link rel="stylesheet" href="../styles.css">
</head>
<body class="otherbody">
    
    <nav>
        <ul class="navbar">
            <h1 class="othertitle">Other Music Projects</h1>
            <a href = "../index.html" class="nav-item"><li>Home</li></a>
            <a href= "./about.html" class="nav-item"><li>About / Commentary</li></a>
            <a href= "./photo.html" class="nav-item"><li>Photo's Used</li></a>
            <a href = "./other.html" class="nav-item"><li>Other Projects</li></a>
        </ul>
    </nav>

    <div class="otherlinks">
        <a href="https://www.instagram.com/jet_l__?igsh=OGQ5ZDc2ODk2ZA%3D%3D&utm_source=qr"><img class="ol1i" src="../Images/Instagram.png" width="400rem"> <h1 class = "clickprompt">Click Me!</h1></a>
        <h1 class="ol1h"><a href="https://www.instagram.com/jet_l__?igsh=OGQ5ZDc2ODk2ZA%3D%3D&utm_source=qr">Instagram</a></h1>
        
        <h1 class="ol1h"><a href="https://www.youtube.com/@jet3714/videos">Youtube</a></h1>
        <a href="https://www.youtube.com/@jet3714/videos"><img class="ol1i" src="../Images/youtube.png" width="400rem"> <h1 class = "clickprompt">Click Me!</h1></a>
        
        <a href="https://jetlin.bandcamp.com/"><img class="ol1i" src="../Images/bandcamp.png" width="400rem"></a>
        <h1 class="ol1h"><a href="https://jetlin.bandcamp.com/">BandCamp</a></h1>
        
        <div>
            <h1 class="ol1h"><a href="https://youtu.be/Nkn5TMK94Hw?si=qEn6Q9QtlTDA13qR">Necrocide By Rotting Priest</a></h1>
            <p class="ol1p">Black Thrashing Death Metal.  Name change to Rotting priest</p>
        </div>
        <iframe class="ol1i" width="480" height="320" src="https://www.youtube.com/embed/Nkn5TMK94Hw?si=8kkJJFI-xQ367ZpH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        
        
        <iframe class="ol1i" width="480" height="320" src="https://www.youtube.com/embed/KFwnEPIzFwc?si=6FpUL5z29GbQ8GRL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <div>
            <h1 class="ol1h"><a href="https://youtu.be/KFwnEPIzFwc?si=zfntHk36LYiyuBMp">Brittle Layers of Dried Blood Cover My Pulsing Tissues and Happiness by Malnutrition</a></h1>
            <p class="ol1p">Harsh Noise, created with violin, guitar, vacuum cleaner, drum practice pads, Logic Pro Pedalboard</p>
        </div>

        <div>
            <h1 class="ol1h"><a href="https://jetlin.bandcamp.com/album/tragic-inability-to-converse-in-a-cost-effective-manner">Tragic Inability to Converse in a Cost​-​Effective Manner by Malnutrition</a></h1>
            <p class="ol1p">Dark electronic, Witchhouse, trap metal, noise project.  Only on Bandcamp</p>
        </div>
        <iframe style="border: 0; width: 350px; height: 470px; margin-top: 10rem;" src="https://bandcamp.com/EmbeddedPlayer/album=2534066974/size=large/bgcol=ffffff/linkcol=2ebd35/tracklist=false/transparent=true/" seamless><a href="https://jetlin.bandcamp.com/album/tragic-inability-to-converse-in-a-cost-effective-manner">Tragic Inability to Converse in a Cost-Effective Manner by Malnutrition</a></iframe>
        
        <iframe style="border: 0; width: 350px; height: 470px; margin-top: 0rem;" src="https://bandcamp.com/EmbeddedPlayer/album=311787539/size=large/bgcol=333333/linkcol=2ebd35/tracklist=false/transparent=true/" seamless><a href="https://jetlin.bandcamp.com/album/petrichor-wounds">Petrichor Wounds by Malnutrition</a></iframe>
        <div>
            <h1 class="ol1h"><a href="https://jetlin.bandcamp.com/album/petrichor-wounds">Petrichor Wounds by Malnutrition</a></h1>
            <p class="ol1p">Inspired by The Stalker (1979) by Andrei Tarkovsky. Combination Improvised parts and compositions. I have been trying to learn chord progressions. In this album I tried to use secondary dominants, tritone subs and other techniques I have found. This ambient album is also inspired by the ambient projects of Burzum, Mortiis, Les Legions Noires, Seirom, Gnaw Their Tongues, Ildjarn, MuslimGauze, Sigur Ros, and Depressive Silence.</p>
        </div>
        
    </div>
</body>
</html>